@charset "utf-8";
/* CSS Document */
html,body,.container{
    height: 100%;
}
body{
    background: #fff;
}
.body_grey{
    background: #f2f2f2;
}
.no-page{
    font-size: 13px;
    text-align: center;
    padding: 100px 0 0; 
}
.head-div{
    height: 64px;
}
.page_bottom{
    position: fixed;
    bottom: 0px;
    height: 50px;
    background: #fff;
    width: 100%;
}
.page_bottom li{
    width: 33%;
    float: left;
}
.page_bottom li a{
    color: #9aa0a4;
    font-size: 14px;
    text-align: center;
    height: 50px;
    line-height: 78px;
    background: url(../images/bottom_icon.png) no-repeat;
    background-size: 253px 73px;
}
.page_bottom .my_training{
    background-position: 25px -46px;
}
.page_bottom .re_evaluation{
    background-position: -63px -46px;
}
.page_bottom .person_center{
    background-position: -149px -46px;
}
.page_bottom .my_training_active{
    background-position: 25px 4px;
    color: #4f99ed;
}
.page_bottom .re_evaluation_active{
    background-position: -63px 4px;
    color: #4f99ed;
}
.page_bottom .person_center_active{
    background-position: -149px 4px;
    color: #4f99ed;
}
/*login  登录*/
.sign_wrap{
    padding: 0 30px;
}
.sign_head{
    color: #69b8fd;
    border-left: 4px solid #69b8fd;
    padding: 0 0 0 18px;
    margin: 60px 0 20px;
    height: 48px;
}
.sign_head span{
    font-size: 24px;
    line-height: 23px;
}
.sign_head p{
    font-size: 15px;
    padding: 5px 0 0;
}
.sign_input_wrap{
   /*padding: 50px 0 0;*/ 
}
.sign_input_wrap .short_input{
    color: #69b8fd;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    width: 45%;
    padding: 0 0 0 2%;
    float: left;
    border: 1px solid #69b8fd;
    border-radius: 5px;
    margin: 0 0 30px;
}
.sign_input_wrap .verification-btn {
    text-align: center;
    width: 40%;
    color: #fff;
    background: #69b8fd;
    border: 1px solid #69b8fd;
    border-radius: 5px;
   /* box-shadow: 1px 1px 5px #888;*/
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    float: right;
    margin: 0 0 30px;
}
.sign_input_wrap .long_input{
    color: #69b8fd;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    width: 98%;
    padding: 0 0 0 2%;
    float: left;
    border: 1px solid #69b8fd;
    border-radius: 5px;
    margin: 30px 0;
}
.line{
    height: 1px;
    background: #ccc;
    width: 100%;
}
.sign_a{
    color: #fff;
    background-color: #55e2c6;
    border-color: #55e2c6;/*
    box-shadow: 1px 1px 10px #55e2c6;*/
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
    border-radius: 5px;
    margin: 15px 0 24px;
}
.forget_ps_a{
    color: #b8b8b8;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
}
/*login  登录*/
.index_wrap{
    background: #4f99ed url(../images/index_bg.png) no-repeat;
    background-size: cover;
    height: 100%;
}
.kfs_sign_a{
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    margin: 50px 0 0;
}
.index_wrap .take_curriculum{
    width: 75%;
    margin: 0 auto;
    padding: 50px 0 0;
    position: relative;
    color: #fff;
}
.index_wrap .take_curriculum img{
    width: 100%
}
.index_wrap .take_curriculum .take_culum_a{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #55e2c6;
    text-align: center;
    font-size: 21px;
    color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.index_wrap .take_curriculum p{
    font-size: 24px;
    position: absolute;
    top: 24%;
    left: 18%;
}
.index_wrap .take_curriculum .line{
    width: 28%;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 61%;
    left: 18%;
}
/*注意事项*/
.attention_wrap {
    height: 100%;
}
.attention_wrap .attention_left{
    width: 30%;
    float: left;
    height: 100%;
    background: #e6e6e6;
    font-size: 15px;
}
.attention_wrap .attention_right{
    margin: 0 0 0 30%;
    height: 90%;
    background: #fff;
    padding: 5%;
    color: #000;
}
.attention_wrap .attention_left a{
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #666666;
}
.attention_wrap .attention_left .active{
    background: #55e2c6;
    color: #fff;
}
/*病例详情*/
.case_wrap{
    background: #fff;
    color: #000;
}
.case_wrap .person_info{
    border-radius: 5px;
    background: #f2f2f2;/*
    box-shadow: 0px 0px 15px #f2f2f2;*/
    padding: 35px 50px;
    line-height: 60px;/*
    margin: 20px;*/
}
.case_wrap .person_info img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.case_wrap .person_info span{
    float: left;
    font-size: 18px;
    padding: 0 0 0 20px;
}
.case_wrap .person_info p{
    float: right;
    font-size: 12px;
}
.case_wrap .casedetail_wrap{
    padding: 30px 20px;
}
.case_wrap .tit{
    font-size: 13px;
    padding: 0 0 10px;
}
.case_wrap ul{
    font-size: 11px;
}
.case_wrap ul li{
    width: 30%;
    float: left;
    line-height: 30px;
}
.case_wrap ul li:last-child{
    width: 100%;
    float: left;
}
.case_box{
    font-size: 13px;
    color: #000;
}
.case_box .case_a {
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 20px;
    background: #fff url(../images/point.png) no-repeat 95% center;
    background-size: 3%;
    margin: 10px 0 0;
}
.case_box .case_txt {
    margin: 10px 0 0;
    padding: 0 0 0 20px;
    background: #fff;
    min-height: 60px;
    line-height: 60px;
}
.case_box .case_txt span{
    width: 60%;
    display: block;
    float: left;
    line-height: 20px;
    padding: 20px 0 0;
}
.case_box .case_txt .add_case_a{
    float: right;
    border-radius: 5px;
    background: #55e2c6;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 15px 15px 0 0;
}
/*病情测评*/
.illness_wrap{
    padding: 30px;
    color: #000;
}
.illness_wrap h4{
    font-size: 18px;
}
.illness_wrap .illness_tit{
    font-size: 14px;
    line-height: 45px;
}
.illness_wrap ul{

}
.illness_wrap ul span{
    display: block;
    width: 100%;
}
.illness_wrap .illness_ul3 li{
    font-size: 14px;
    color: #666;
    float: left;
    width: 33%;
    text-align: center;
    position: relative;
}
.illness_wrap .illness_ul2 li{
    font-size: 14px;
    color: #666;
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}
.illness_wrap .illness_ul3 li img{
    width: 90%;
    position: relative;
}
.illness_wrap .illness_ul2 li img{
    width: 70%;
    position: relative;
}
.illness_wrap a{
    background: #5faffb;
    /*box-shadow: 0px 0px 15px #5faffb;*/
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 35px auto;
    border-radius: 5px;
}
.illness_wrap .img-bg{
}
/*锻炼进度*/
.exercisespeed_wrap {

}
.exercisespeed_wrap .person_info{
/*    border-radius: 5px;*/
    background: #f2f2f2;/*
    box-shadow: 0px 0px 15px #f2f2f2;*/
    padding: 35px 50px;
    line-height: 60px;/*
    margin: 20px;*/
}
.exercisespeed_wrap .person_info img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.exercisespeed_wrap .person_info span{
    float: left;
    font-size: 18px;
    padding: 0 0 0 20px;
}
.exercisespeed_wrap .person_info p{
    float: right;
    font-size: 12px;
}
.exercisespeed_wrap .person_info em{
    font-size: 18px;
}
.exercisespeed_wrap .person_info .exercisespeed_info_wrap{
/*    border-top: 1px solid #e6e6e6;*/
    margin: 12px 0 0;
    background: url(../images/point.png) no-repeat 99% center;
    background-size: 3%;
    font-size: 12px;
    color: #808080;
}
.exercisespeed_wrap .person_info .exercisespeed_info_wrap ul{
    width: 94%;
    padding: 15px 0;
}
.exercisespeed_wrap .person_info .exercisespeed_info_wrap ul li{
    min-height: 20px;
    line-height: 20px;
}
.exercisespeed_wrap .person_info .exercisespeed_info_wrap li .span{
    color: #000;
    float: none;
    font-size: 12px;
    padding: 0;
}
.exercisespeed_wrap p{
    height: 22px;
    line-height: 22px;
    color: #f35769;
    padding: 14px 0;
    font-size: 13px;
}
.exercisespeed_wrap p img{
    width: 22px;
    height: 22px;
    margin: 0 10px 0 28px;
}
.exercisespeed_wrap .speed_wrap{
/*    border-top: 1px solid #e6e6e6;*/
    margin:0 20px 20px;
}
.exercisespeed_wrap .speed_wrap h3{
    font-size: 18px;
    color: #000;
    line-height: 75px;
    padding: 0 0 0 8px;
}
.exercisespeed_wrap .speed_wrap li{
    font-size: 12px;
    color: #000;
    line-height: 20px;
    padding: 0 0 0 8px;
}
.speed_bottom_wrap{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.speed_bottom_wrap .speed_bottom_a{
    height: 50px;
    line-height: 50px;
    background: #b3b3b3;
    font-size: 15px;
    width: 49.8%;
    text-align: center;
    color: #fff;
}
/*个人中心*/
.userCenter-wrap{

}
.userCenter-wrap .center-head{
    background: #69b8fd;
    padding: 25px 35px;
}
.userCenter-wrap .center-head a{
    color: #fff;
    background: url(../images/point_fff.png) no-repeat 100% center;
    background-size: 3%;
}
.userCenter-wrap .center-head img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.userCenter-wrap .center-head span{
    font-size: 18px;
    display: block;
    margin: 0 0 0 80px;
    line-height: 40px;
}
.userCenter-wrap .center-head p{
    font-size: 10px;
    margin: 0 0 0 80px;
    line-height: 10px;
}
.userCenter-wrap .center-head p .yz{
    float: left;
    width: 13px;
    height: 13px;
    margin: 0 5px 0 0;
}
.userCenter-wrap ul li{
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    border-bottom: 1px solid #e6e6e6;
    background: #fff
}
.userCenter-wrap ul li a{
    background: url(../images/point.png) no-repeat 100% center;
    background-size: 3%;
}
.userCenter-wrap ul li img{
    width: 22px;
    height: 22px;
    margin: 24px 20px 0 0;
    float: left;
}
.userCenter-wrap ul .jf{
    margin: 0 0 10px 0;
    background-position: 30px -125px;
}
.userCenter-wrap ul .jl{
    background-position: 30px 0px;
}
.userCenter-wrap ul .bl{
    background-position: 30px 0px;
}
.userCenter-wrap ul .order{
    background-position: 30px 0px;
}
.userCenter-wrap ul .message{
    background-position: 30px 0px;
    border-bottom: none;
}
/*个人信息*/
.userMessage-wrap{
    padding: 0 33px;
}
.userMessage-wrap ul li{
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    min-height: 50px;
    line-height: 50px;
}
.userMessage-wrap ul li:nth-child(1){
    height: 90px;
    line-height: 90px;
}
.userMessage-wrap ul li img{
    float: right;
    width: 60px;
    height: 60px;
    margin: 15px 0;
    border-radius: 50%;
}
.userMessage-wrap ul li span{
    float: right;
    color: #b2b2b2;
}
.userMessage-wrap ul li p{
    line-height: 25px;
    color: #b2b2b2;
    padding: 0 0 15px;
}
.userMessage-wrap ul li em{
    margin: 0px 0 0 -24px;
    color: #b2b2b2;
    padding: 0 10px 0 0;
}
/*修改个人信息*/
.changeMessage-wrap {
    padding: 0 35px;
    font-size: 13px;
}
.changeMessage-wrap p{
    color: #b2b2b2;
    line-height: 73px;
}
.changeMessage-wrap input{
    width: 98%;
    border: 1px solid #e6e6e6;
    background: #fff;
    border-radius: 0px;
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 2%;
}
.changeMessage-wrap .message-box{
    position: relative;
}
.changeMessage-wrap .delect-img{
    width: 18px;
    height: 18px;
    position: absolute;
    left: 90%;
    top: 14px;
    display: none;
}
.changeMessage-wrap a{
    color: #fff;
    background-color: #5faffb;
    border-color: #55e2c6;/*
    box-shadow: 1px 1px 10px #55e2c6;*/
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
    border-radius: 5px;
    margin: 55px auto 24px;
    width: 90%;
}
/*患者病例列表*/
.caseList_wrap{
    padding: 20px;
}
.caseList_wrap .person_info{
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 15px #f2f2f2;
    padding: 15px 30px;
    line-height: 60px;
    margin: 0 0 32px;
}
.caseList_wrap .person_info img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.caseList_wrap .person_info span{
    float: left;
    font-size: 18px;
    padding: 0 0 0 20px;
}
.caseList_wrap .person_info p{
    float: right;
    font-size: 12px;
}
.caseList_wrap .person_info .exercisespeed_info_wrap{
    border-top: 1px solid #e6e6e6;
    margin: 12px 0 0;
    background: url(../images/point.png) no-repeat 99% center;
    background-size: 3%;
    font-size: 12px;
    color: #808080;
}
.caseList_wrap .person_info .exercisespeed_info_wrap ul{
    width: 94%;
    padding: 15px 0;
}
.caseList_wrap .person_info .exercisespeed_info_wrap ul li{
    min-height: 20px;
    line-height: 20px;
}
.caseList_wrap .person_info .exercisespeed_info_wrap li .span{
    color: #000;
    float: none;
    font-size: 12px;
    padding: 0;
}
.caseList_wrap .caseList_ul{
    border-bottom: 1px solid #69b8fd;
    margin: 0 0 25px;
}
.caseList_wrap .caseList_ul li{
    float: left;
    height: 40px;
    line-height: 40px;
    width: 25%;
    text-align: center;
    margin: 0 0 4px;
}
.caseList_wrap .caseList_ul li a{
    color: #ccc;
    font-size: 14px;
}
.caseList_wrap .caseList_ul li .active{
    color: #69b8fd;
    border-bottom: 4px solid #69b8fd;
}
.caseList_wrap .cL-a{
    position: relative;
    width: 25%;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #55e2c6;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin: 25px 4%;
    float: left;
}
.caseList_wrap .cL-a em{
    position: absolute;
    background: #f35769;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -3px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 11px;
}
/*训练感受*/
.feel_wrap{

}
.feel_wrap .feel-head-bg{
    position: relative;
}
.feel_wrap .feel-head-bg img{
    width: 100%;
}
.feel_wrap .feel-head-bg h5{
    color: #5faffb;
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 15%;
}
.feel_wrap .feel-head-bg p{
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 15%;
}
.feel_wrap .tit{
    font-size: 18px;
    color: #000;
    line-height: 63px;
    text-align: center;
}
.feel_wrap .feel-box{
    padding: 0 30px;
    margin: 0 0 100px;
}
.feel_wrap .feel-box .feel-txt-a{
    border: 1px solid #aaf0e2;
    background:#fff;
    color: #aaf0e2;
    font-size: 12px;
    margin: 0 0 20px;
    width: 30%;
    height: 39px;
    line-height: 39px;
    border-radius: 5px;
    float: right;
    text-align: center;
}
.feel_wrap .feel-box .feel-txt-a:nth-child(2){
    border: 1px solid #aaf0e2;
    background:#fff;
    color: #aaf0e2;
    font-size: 12px;
    width: 30%;
    height: 39px;
    line-height: 39px;
    border-radius: 5px;
    float: left;
    text-align: center;
}
.feel_wrap .feel-box .feel-txt-a:nth-child(3){
    border: 1px solid #aaf0e2;
    background:#fff;
    color: #aaf0e2;
    font-size: 12px;
    width: 30%;
    margin: 0 4%;
    height: 39px;
    line-height: 39px;
    border-radius: 5px;
    float: left;
    text-align: center;
}
.feel_wrap .feel-box .active{
    background: #aaf0e2;
    color: #fff;
}
.feel_wrap .feel-box textarea{
    width: 92%;
    height: 132px;
    background: #f8f8f8;
    padding: 10px 4%;
}
.feel_wrap .feel-box .feel-sub{
    background: #5faffb;
  /*  box-shadow: 0px 0px 15px #5faffb; */
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 35px auto;
    border-radius: 5px;
}
.feel_wrap .feel-box .success{
    background: #55e2c6;
}
/*选择课程*/
.selectC_wrap{
    position: relative;
    margin: 0 0 1px;
}
.selectC_wrap img{
    width: 100%;
}
.selectC_wrap p{
    color: #fff;
    font-size: 14px;
    position: absolute;
    width: 85%;
    top: 20%;
    margin: 0 0 0 -42%;
    left: 50%;
    text-align: center;
    line-height: 25px;
}
.selectC_wrap a{
    background: #5faffb;
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 62%;
    left: 50%;
    margin: 0 0 0 -40%;
}
/*训练记录*/
.trainRec_wrap{
}
.trainRec_wrap h3{
    font-size: 18px;
    line-height: 90px;
    padding: 0 30px;
}
.trainRec_wrap .time-line-p{
    font-size: 15px;
    line-height: 30px;
    padding: 0 30px;
}
.trainRec_wrap .time-line-p em{
    font-size: 16px;
}
.trainRec_wrap .time-line-p span{
    font-size: 12px;
    color: #808080;
}
.trainRec_wrap .time-line-wrap{
    height: 30px;
    border-radius: 5px;
    background: #f2f2f2;
    margin: 10px 30px;
}
.trainRec_wrap .time-line-wrap .time-line-done{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    background: #55e2c6;
}
.trainRec_wrap .trainRec-ul{

}
.trainRec_wrap .trainRec-ul li{
    padding: 25px 30px;
    border-bottom: 1px solid #e6e6e6;
}
.trainRec_wrap .trainRec-ul li:last-child{
    border-bottom: none;
}
.trainRec_wrap .trainRec-ul li div{
    width: 50%;
    font-size: 12px;
    line-height: 20px;
}
.trainRec_wrap .trainRec-ul li div:nth-child(2){
    text-align: right;
}
.trainRec_wrap .trainRec-ul li div .trainRec-a{
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    float: right;
    border-radius: 5px;
    margin: 10px 0 0;
}
.trainRec_wrap .trainRec-ul li div .a1{
    background: #55e2c6;
}
.trainRec_wrap .trainRec-ul li div .a2{
    background: #f35769;
}
/*我的病历记录*/
.caseRecord_wrap{
    padding: 0 20px;
}
.caseRecord_wrap .tit{
    line-height: 65px;
    font-size: 12px;
}
.caseRecord_wrap .caseRec-ul li{
    border-radius: 5px;/*
    box-shadow: 0px 0px 15px #e9e9e9;*/
    background: #fff;
    padding: 15px;
    margin: 0 0 33px;
}
.caseRecord_wrap .caseRec-ul li .case-ul-top{
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 15px;
}
.caseRecord_wrap .caseRec-ul li .case-ul-top span{
    font-size: 11px;
    color: #808080;
    float: right;
    padding: 0 2px;
}
.caseRecord_wrap .caseRec-ul li p{
    font-size: 11px;
    line-height: 25px;
}
.caseRecord_wrap .caseRec-ul li .case-ul-bottom{
    border-top: 1px solid #e6e6e6;
    margin: 15px 0 0;
    padding: 15px 0 0;
}
.caseRecord_wrap .caseRec-ul li .case-ul-bottom div{
    float: left;
    width: 50%;
}
.caseRecord_wrap .caseRec-ul li .case-ul-bottom span{
    color: #808080;
    font-size: 11px;
    float: left;
    display: block;
    width: 100%;
}
.caseRecord_wrap .caseRec-ul li .case-ul-bottom a{
    color: #fff;
    font-size: 11px;
    float: right;
    display: block;
    width: 40%;
    background: #55e2c6;
    border-radius: 5px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    margin: 5px 0 0;
}
/*康复师*/
.kfs_wrap .kfs-bg{
    position: relative;
}
.kfs_wrap .kfs-bg img{
    width: 100%;
}
.kfs_wrap .kfs-bg p{
    position: absolute;
    font-size: 15px;
    color: #fff;
    left: 10%;
    top: 28%;
}
.kfs_wrap .timeline{
    text-align: center;
    margin: 35px 0 0;
}
.kfs_wrap p{
    position: relative;
    text-align: center;
    padding: 10px 0 0px;
}
.kfs_wrap .kfs-start{
    background: #55e2c6;/*
    box-shadow: 0px 0px 15px #55e2c6;*/
    width: 60%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 16px auto 60px;
    border-radius: 5px;
}
.kfs_wrap .kfs-a{
    background: #5faffb;/*
    box-shadow: 0px 0px 15px #5faffb;*/
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 30px auto 0;
    border-radius: 5px;
}
/*私人康复师*/
.privateKfs_wrap{
    padding: 11px 0 0;
}
.privateKfs_wrap .kfs-select-box{
    margin: 0 25px;
    border: 1px solid #e6e6e6;
    background: #fff;
    border-radius: 20px;
    padding: 0 22px;
    height: 44px;
}
.privateKfs_wrap .kfs-select-box input{
    border: none;
    width: 80%;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #ccc;
    float: left;
}
.privateKfs_wrap .kfs-select-box a{
    float: right;
    width: 10%;
    height: 24px;
    margin: 10px 0;
}
.privateKfs_wrap .kfs-select-box a img{
    width: 100%;
}
.privateKfs_wrap ul{
    margin: 11px 0 0;
}
.privateKfs_wrap ul li{
    background: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 0 10px;
    padding: 20px;
}
.privateKfs_wrap ul .pri-kfs-l{
    float: left;
    width: 30%;
}
.privateKfs_wrap ul .pri-kfs-l img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.privateKfs_wrap ul .pri-kfs-r{
    float: left;
    width: 69%;
}
.privateKfs_wrap ul .pri-kfs-r h5{
    font-size: 19px;
}
.privateKfs_wrap ul .pri-kfs-r h5 em{
    font-size: 21px;
    padding: 0 15px 0 0;
}
.privateKfs_wrap ul .pri-kfs-r span{
    font-size: 13px;
    color: #808080;
    padding: 0 10px 0 0;
    float: left;
}
.privateKfs_wrap ul .pri-kfs-r .grade{
    width: 18px;
    height: 18px;
    border-radius: 3px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    float: left;
    background: #55e2c6;
}
.privateKfs_wrap ul .pri-kfs-r p{
    font-size: 13px;
    color: #b2b2b2;
    line-height: 20px;
    margin: 10px 0 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #e6e6e6;
}
.privateKfs_wrap ul .pri-kfs-r .pri-money{
    margin: 17px 0 0;
    background: #5faffb;
    border-radius: 3px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    width: 65px;
    font-size: 13px;
    color: #fff;
    float: left;
}
.privateKfs_wrap ul .pri-kfs-r .pri-buye{
    float: left;
    font-size: 13px;
    margin: 17px 0 0;
}
/*康复师详情*/
.privateKfsdetail_wrap{

}

.privateKfsdetail_wrap ul{
    background: #fff;
}
.privateKfsdetail_wrap ul li{
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
    margin: 0 20px;
}
.privateKfsdetail_wrap ul .pri-kfs-l{
    float: left;
    width: 30%;
}
.privateKfsdetail_wrap ul .pri-kfs-l img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.privateKfsdetail_wrap ul .pri-kfs-r{
    float: left;
    width: 69%;
}
.privateKfsdetail_wrap ul .pri-kfs-r h5{
    font-size: 19px;
}
.privateKfsdetail_wrap ul .pri-kfs-r h5 em{
    font-size: 21px;
    padding: 0 15px 0 0;
}
.privateKfsdetail_wrap ul .pri-kfs-r span{
    font-size: 13px;
    color: #808080;
    padding: 0 10px 0 0;
    float: left;
}
.privateKfsdetail_wrap ul .pri-kfs-r .grade{
    width: 18px;
    height: 18px;
    border-radius: 3px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    float: left;
    background: #55e2c6;
}
.privateKfsdetail_wrap ul .pri-kfs-r p{
    font-size: 13px;
    color: #b2b2b2;
    line-height: 20px;
    margin: 10px 0 0;
    padding: 0 0 10px;
}
.privateKfsdetail_wrap .kfs-cur{
    padding: 20px;
    background: #fff;
}
.privateKfsdetail_wrap .kfs-cur .kfs-cur-div{
    width: 23%;
    text-align: center;
    float: left;
    padding: 0 5%;
}
.privateKfsdetail_wrap .kfs-cur .kfs-cur-div h6{
    font-size: 12px;
}
.privateKfsdetail_wrap .kfs-cur .kfs-cur-div img{
    font-size: 13px;
    padding: 11px 0;
    width: 80%;
}
.privateKfsdetail_wrap .kfs-cur .kfs-cur-div a{
    color: #69b8fd;
    font-size: 13px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    border: 1px solid #69b8fd;
}
.privateKfsdetail_wrap .kfsdetail-box{
    background: #fff;
    margin: 10px 0 0;
    color: #4c4c4c;
    font-size: 13px;
    padding: 0 25px;
}
.privateKfsdetail_wrap .kfsdetail-box .gwrz{
    height: 55px;
    line-height: 55px;
    border-bottom: 1px solid #e6e6e6;
}
.privateKfsdetail_wrap .kfsdetail-box p{
    padding: 22px 0;
    border-bottom: 1px solid #e6e6e6;
}
.privateKfsdetail_wrap .pj-box{
    background: #fff;
    padding: 0 20px 30px;

}
.privateKfsdetail_wrap .pj{
    font-size: 13px;
}
.privateKfsdetail_wrap .pj li:last-child{
    border-bottom: none;
}
.privateKfsdetail_wrap h3{ 
    line-height: 55px;
    background: #fff;
    padding: 0 30px;
}
.privateKfsdetail_wrap h3 a{ 
    float: right;
    width: 25px;
    margin: 17px 0;
}
.privateKfsdetail_wrap h3 a img{ 
    width: 100%;
}
.privateKfsdetail_wrap .pj li p{ 
    color: #b2b2b2;
    padding: 0 0 0 10px;
}
.privateKfsdetail_wrap .pj li span{ 
    color: #dbdbdb;
    padding: 0 0 0 10px;
}
.privateKfsdetail_wrap .all-pj{
    font-size: 15px;
    color: #b2b2b2;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 30px 0 0;
}
/*课程概览*/
.course_wrap .course-bg{
    position: relative;
}
.course_wrap .course-bg img{
    width: 100%;
}
.course_wrap .course-bg p{
    position: absolute;
    font-size: 15px;
    color: #fff;
    left: 15%;
    top: 28%;
}
.course_wrap .course-box {
    padding: 20px 35px;
}
.course_wrap .course-box p{
    color: #000;
    font-size: 12px;
}
.course_wrap .course-box ul li{
    color: #5faffb;
    font-size: 14px;
    width: 50%;
    float: left;
    padding: 22px 0 0;
}
.course_wrap .course-box ul li img{
    width: 20px;
    height: 20px;
    margin: 0 6px;
}
.course_wrap .course-box .kfs-a{
    background: #5faffb;/*
    box-shadow: 0px 0px 15px #5faffb;*/
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 30px auto 0;
    border-radius: 5px;
}
.course_wrap .tips-p{
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    padding: 20px 0 0;
}
.course_wrap .tips-p img{
    width: 22px;
    height: 22px;
    margin: 0 8px 0 0;
}
/*课程设置*/
.caseSetup_wrap{
    padding: 20px;
    margin: 0 0 50px;
}
.caseSetup_wrap .person_info{
    border-radius: 5px;
    background: #fff;/*
    box-shadow: 0px 0px 15px #f2f2f2;*/
    padding: 15px 30px;
    line-height: 60px;
    margin: 0 0 32px;
}
.caseSetup_wrap .person_info img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.caseSetup_wrap .person_info span{
    float: left;
    font-size: 18px;
    padding: 0 0 0 20px;
}
.caseSetup_wrap .person_info p{
    float: right;
    font-size: 12px;
}
.caseSetup_wrap .person_info .exercisespeed_info_wrap{
    border-top: 1px solid #e6e6e6;
    margin: 12px 0 0;
    background: url(../images/point.png) no-repeat 99% center;
    background-size: 3%;
    font-size: 12px;
    color: #808080;
}

.caseSetup_wrap .kfs-select-box{
    margin: 0 10px;
    border: 1px solid #e6e6e6;
    background: #fff;
    border-radius: 4px;
    padding: 0 22px;
    height: 44px;
}
.caseSetup_wrap .kfs-select-box input{
    border: none;
    width: 80%;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #ccc;
    float: left;
}
.caseSetup_wrap .kfs-select-box a{
    float: right;
    width: 10%;
    height: 24px;
    margin: 10px 0;
}
.caseSetup_wrap .kfs-select-box a img{
    width: 100%;
}
.caseSetup_wrap .course-ul-wrap{

}
.caseSetup_wrap .course-ul-wrap ul li{
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 15px;
}
.caseSetup_wrap .course-ul-wrap ul li .le{
    float: left;
    width: 65%;
}
.caseSetup_wrap .course-ul-wrap ul li .ri{
    float: left;
    width: 35%;
}
.caseSetup_wrap .course-ul-wrap ul li .le em{
    font-size: 18px;
    padding: 10px 0 23px;
    display: block;
}
.caseSetup_wrap .course-ul-wrap ul li .le a{
    width: 90%;
}
.caseSetup_wrap .course-ul-wrap ul li .le a img{
    width: 80%;
}
.caseSetup_wrap .course-ul-wrap ul li .ri input{
    float: left;
    width: 40%;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 2%;
    background: #f2f2f2;
    border-radius: 5px;
    margin: 5px 15px 0 0;
}
.caseSetup_wrap .course-ul-wrap ul li .ri span{
    float: left;
    font-size: 18px;
    height: 37px;
    line-height: 37px;
    display: block;
}
.caseSetup_wrap .course-ul-wrap ul li .ri .up{
    background: #55e2c6;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    float: left;
    width: 40%;
    border-radius: 5px;
    margin: 32px 2% 35px 0;
}
.caseSetup_wrap .course-ul-wrap ul li .ri .down{
    background: #55e2c6;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    float: left;
    width: 40%;
    border-radius: 5px;
    margin: 32px 0 35px 0;
}
.caseSetup_wrap .course-ul-wrap ul li .ri .delect{
    background: #f35769;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    float: left;
    width: 82%;
    border-radius: 5px;
}

.caseSetup_wrap .add-a{
    background: #5faffb;/*
    box-shadow: 0px 0px 15px #5faffb;*/
    width: 90%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 30px auto 0;
    border-radius: 5px;
}
/*康复课程*/
.courseDetail_wrap{

}
.courseDetail_wrap .course-bg{
    position: relative;
}
.courseDetail_wrap .course-bg img{
    width: 100%;
}
.courseDetail_wrap .course-bg p{
    position: absolute;
    font-size: 15px;
    color: #fff;
    left: 15%;
    top: 28%;
}
.courseDetail_wrap .course-bg a{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 7%;
    top: 28%;
}
.courseDetail_wrap .course-bg a img{
    width: 100%;
}
.courseDetail_wrap h3{
    font-size: 18px;
    line-height: 90px;
    padding: 0 30px;
}
.courseDetail_wrap .time-line-p{
    font-size: 15px;
    line-height: 30px;
    padding: 20px 30px 0;
}
.courseDetail_wrap .time-line-p em{
    font-size: 16px;
}
.courseDetail_wrap .time-line-p span{
    font-size: 12px;
    color: #808080;
}
.courseDetail_wrap .time-line-wrap{
    height: 30px;
    border-radius: 5px;
    background: #f2f2f2;
    margin: 10px 30px;
}
.courseDetail_wrap .time-line-wrap .time-line-done{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    background: #55e2c6;
}
.courseDetail_wrap .content-ul{
    padding: 20px 30px 0;
    position: relative;
    left: -15px;
}
.courseDetail_wrap .content-ul li .content-line{
    padding: 0 33px 0 0;
    float: left;
}
.courseDetail_wrap .content-ul li .content-d{
    margin: 0 0 0 15px;
    padding: 0 0 25px;
    min-height: 30px;
    line-height: 30px;
    border-left: 1px solid #55e2c6;
}
.courseDetail_wrap .content-ul li .content-d:last-child{
    border-left: 1px solid #fff;
}
.courseDetail_wrap .content-ul li p{
    border-left: 1px solid #fff;
    margin: 0 0 0 47px;
}
.courseDetail_wrap .content-ul li .content-line span{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    background: #55e2c6;
    color: #fff;
    font-size: 10px;
}
.courseDetail_wrap .content-ul li .content-d .pratice-v {
    background-color: #000000;
    width: 80%;
    float: right;
}
.courseDetail_wrap .jl-feel {
    background: #5faffb;/*
    box-shadow: 0px 0px 15px #5faffb;*/
    width: 80%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 35px auto;
    border-radius: 5px;
}
/*留言*/
.message_wrap{
    height: 100%;
}
.message_wrap .person_info{
/*    border-radius: 5px;*/
    background: #fff;
    box-shadow: 0px 0px 15px #f2f2f2;
    padding: 35px 50px;
    line-height: 60px;
 /*   margin: 20px 20px 32px;*/
}
.message_wrap .person_info img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.message_wrap .person_info span{
    float: left;
    font-size: 18px;
    padding: 0 0 0 20px;
}
.message_wrap .person_info p{
    float: right;
    font-size: 12px;
}
.message_wrap .person_info p em{
    font-size: 18px;
}
.message_wrap .person_info .exercisespeed_info_wrap{
    border-top: 1px solid #e6e6e6;
    margin: 12px 0 0;
    background: url(../images/point.png) no-repeat 99% center;
    background-size: 3%;
    font-size: 12px;
    color: #808080;
}
.message_wrap .person_info .exercisespeed_info_wrap ul{
    width: 94%;
    padding: 15px 0;
}
.message_wrap .person_info .exercisespeed_info_wrap ul li{
    min-height: 20px;
    line-height: 20px;
    color: #808080;
}
.message_wrap .person_info .exercisespeed_info_wrap li .span{
    color: #000;
    float: none;
    font-size: 12px;
    padding: 0;
}
.message_wrap .message-input-wrap{
    position: absolute;
    bottom: 0px;
    width: 90%;
    height: 53px;
    background: #fff;
    border-top: 1px solid #e9e9e9;
    padding: 0 5%;
}
.message_wrap .message-input-wrap .input{
    margin: 10px 0 0;
    height: 30px;
    line-height: 30px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    float: left;
}
.message_wrap .message-input-wrap .file{
    opacity: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    margin: 0 0 0 10px;
}
.message_wrap .message-input-wrap img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    margin: 0 0 0 10px;
}
.message_wrap .message-ul{
    margin: 0 35px;
}
.message_wrap .message-ul li{
    margin: 35px 0;
}
.message_wrap .message-ul .message-l img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
    margin: 0 10px 0 0;
}
.message_wrap .message-ul .message-l div{
    background: #5faffb;
    padding: 15px 20px;
    float: left;
    width: 60%;
    color: #fff;
    border-radius: 5px;
    position: relative;
}
.message_wrap .message-ul .message-r img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: right;
    margin: 0 0 0 10px;
}
.message_wrap .message-ul .message-r div{
    background: #fff;
    padding: 15px 20px;
    float: right;
    width: 60%;
    border-radius: 5px;
    position: relative;
}

.triangle-bottomleft {
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid #5faffb;
    border-left: 15px solid transparent;
    float: left;
    margin: 0 0 0 -30px;
    position: absolute;
    bottom: 0px;
}
.triangle-bottomright {
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-right: 15px solid transparent;
    position: absolute;
    bottom: 0px;
    right: -11px;
}

/*日历*/

#CalendarMain {
    width: 300px;
    height: 265px;
    margin: 0 auto;
    background: #fff;
}
#title {
    width: 100%;
    height: 30px;
    background-color: #fff;
}
.selectBtn {
    font-weight: 900;
    font-size: 15px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    padding: 7px 10px 6px 10px;
}
.selectBtn:hover {
    background-color: #1d953f;
}
.selectYear {
    float: left;
    margin-left: 50px;
    position: absolute;
}
.selectMonth {
    float: left;
    margin-left: 120px;
    position: absolute;
}
.month {
    float: left;
    position: absolute;
}
.nextMonth {
    float: right;
}
.currentDay {
    float: right;
}
#context {
    background-color: #fff;
    width: 100%;
}
.week {
    width: 100%;
    height: 30px;
}
.week>h3 {
    float: left;
    color: #808080;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 16px;
}
.dayItem {
    float: left;
}
.lastItem {
    color: #d1c7b7 !important;
}
.item {
    color: #333;
    float: left;
    text-align: center;
    cursor: pointer;
    margin: 0;
    font-family: "微软雅黑";
    font-size: 13px;
}
.item:hover {
    color: #b9121b;
}
.currentItem>a {
    background-color: #55e2c6;
    width: 25px;
    line-height: 25px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
}
#foots {
    width: 100%;
    height: 35px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    margin-top: -1px;
}
#footNow {
    float: right;
    margin: 6px 15px 0 0;
    color: #009ad6;
    font-family: "微软雅黑";
}
#Container {
    overflow: hidden;
    float: left;
}
#center {
    width: 100%;
    overflow: hidden;
}
#centerMain {
    width: 300%;
    margin-left: -100%;
}
#selectYearDiv {
    float: left;
    background-color: #fff;
}
#selectYearDiv>div {
    float: left;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 16px;
    border: 1px solid #ccc;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
    color: #909090;
}
.currentYearSd, .currentMontSd {
    color: #ff4400 !important;
}
#selectMonthDiv {
    float: left;
    background-color: #fff;
}
#selectMonthDiv>div {
    color: #909090;
    float: left;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 16px;
    border: 1px solid #ccc;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
}
#selectYearDiv>div:hover, #selectMonthDiv>div:hover {
    background-color: #efefef;
}
#centerCalendarMain {
    float: left;
}

/*患者病例*/
.hzbl_wrap{

}
.hzbl_wrap .person_info{
    border-radius: 5px;
    background: #f2f2f2;/*
    box-shadow: 0px 0px 15px #f2f2f2;*/
    padding: 35px 30px;
    line-height: 60px;/*
    margin: 20px;*/
}
.hzbl_wrap .person_info img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.hzbl_wrap .person_info span{
    float: left;
    font-size: 18px;
    padding: 0 0 0 20px;
}
.hzbl_wrap .person_info p{
    float: right;
    font-size: 12px;
}
.hzbl_wrap .blnr{
    background: #f2f2f2;
    padding: 0 30px;
}
.hzbl_wrap .blnr span{
    color: #000;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    display: block;
    float: left;
}
.hzbl_wrap .blnr .seach-bl{
    float: right;
    border: 1px solid #666;
    height: 28px;
    line-height: 28px;
    font-size: 10px;
    text-align: center;
    width: 86px;
    border-radius: 4px;
    color: #666;
}
.hzbl_wrap .blnr p{
    float: left;
    width: 100%;
    font-size: 11px;
    color: #666;
    padding: 18px 0 30px;
}
.hzbl_wrap .blnr .tj{
    background: #5faffb;/*
    box-shadow: 0px 0px 15px #5faffb;*/
    width: 90%;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 115px auto 20px;
    border-radius: 5px;
}
.hzbl_wrap h3{
    font-size: 18px;
    padding: 20px 30px 10px;
}
.hzbl_wrap .time-line-p{
    font-size: 15px;
    line-height: 30px;
    padding: 0 30px;
}
.hzbl_wrap .time-line-p em{
    font-size: 16px;
}
.hzbl_wrap .time-line-p span{
    font-size: 12px;
    color: #808080;
}
.hzbl_wrap .time-line-wrap{
    height: 30px;
    border-radius: 5px;
    background: #f2f2f2;
    margin: 10px 30px;
}
.hzbl_wrap .trainRec-ul{

}
.hzbl_wrap .trainRec-ul li{
    padding: 10px 30px;
    border-bottom: 1px solid #e6e6e6;
}
.hzbl_wrap .trainRec-ul li:last-child{
    border-bottom: none;
}
.hzbl_wrap .trainRec-ul li div{
    width: 50%;
    font-size: 12px;
    line-height: 20px;
}
.hzbl_wrap .trainRec-ul li div:nth-child(2){
    text-align: right;
}
.hzbl_wrap .trainRec-ul li div .trainRec-a{
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    float: right;
    border-radius: 5px;
    margin: 10px 0 0;
}
.hzbl_wrap .trainRec-ul li div .a1{
    background: #55e2c6;
}
.hzbl_wrap .trainRec-ul li div .a2{
    background: #f35769;
}