<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ce.passport.dao.mapper.SysInfoMapper">
	<resultMap type="cn.ce.passport.dao.persistence.SysInfo" id="sysInfoMap">
		<id column="id" property="id" />
		<id column="sysName" property="sysName" />
		<id column="description" property="description" />
		<id column="create_time" property="createTime" />
	</resultMap>
	

	
	<select id="getSysInfo" resultMap="sysInfoMap" >
		SELECT * FROM sysInfo Where status=0
	</select>
	
	
	
</mapper>
