<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ce.passport.dao.mapper.UserMapper">
	<resultMap type="cn.ce.passport.dao.persistence.User" id="userMap">
		<id column="id" property="id" />
	</resultMap>



	<select id="findById" parameterType="long" resultMap="userMap">
		SELECT *
		FROM user WHERE id=#{id}
	</select>

	<insert id="register" useGeneratedKeys="true" keyProperty="id"
		parameterType="cn.ce.passport.dao.persistence.User">
		INSERT INTO
		user(userName,password,email,state,regTime)
		VALUES(
		#{userName},
		#{password},
		#{email},
		#{state},
		#{regTime}
		)
	</insert>


	<select id="getUsers" parameterType="java.util.HashMap"
		resultMap="userMap">
		SELECT * FROM user WHERE 1=1
		<if test="userName!=null and userName!=''">
			AND userName = #{userName}
		</if>
		<if test="email!=null and email!=''">
			AND email = #{email}
		</if>
		<if test="idCard!=null and idCard!=''">
			AND idCard = #{idCard}
		</if>
		<if test="state!=null and state!=''">
			AND state = #{state}
		</if>
	</select>

	<select id="getUserInfo" resultMap="userMap"
		parameterType="cn.ce.passport.dao.persistence.User">
		SELECT * FROM user WHERE
		(userName= #{userName} AND
		password =#{password})
		OR
		(email=#{userName} AND password =#{password})
	</select>

	<update id="updateUser" parameterType="cn.ce.passport.dao.persistence.User">
		UPDATE user SET
		<if test="password!=null and password!=''">
			password = #{password},
		</if>
		<if test="email!=null and email!=''">
			email = #{email},
		</if>
		<if test="userName!=null and userName!=''">
			userName = #{userName},
		</if>
		<if test="enterpriseName!=null and enterpriseName!=''">
			enterpriseName = #{enterpriseName},
		</if>
		<if test="idCard!=null and idCard!=''">
			idCard = #{idCard},
		</if>
		<if test="userRealName!=null and userRealName!=''">
			userRealName = #{userRealName},
		</if>
		<if test="checkState!=null and checkState!=''">
			checkState = #{checkState},
		</if>
		id = #{id}

		WHERE
		id = #{id}
	</update>


	<select id="queryUserListCountByConditions" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		SELECT count(*) FROM user WHERE 1=1
		<if test="userName!=null and userName!=''">
			AND userName = #{userName}
		</if>
		<if test="state!=null and state!=''">
			AND state = #{state}
		</if>
	</select>


	<select id="queryUserListByConditions" parameterType="java.util.HashMap"
		resultMap="userMap">
		SELECT * FROM user WHERE 1=1
		<if test="userName!=null and userName!=''">
			AND userName = #{userName}
		</if>
		<if test="state!=null and state!=''">
			AND state = #{state}
		</if>

		ORDER BY id ASC
		LIMIT #{begain}, #{pageSize}

	</select>

</mapper>
